@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Outfit:wght@300;400;600;800&display=swap');
@import "tailwindcss";

@theme {
  --color-cdg-red: #E60012;
}

:root {
  --color-cdg-red: #E60012;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafb;
}

h1,
h2,
h3,
h4 {
  font-family: 'Outfit', sans-serif;
}

/* Custom Utilities if needed */
@layer utilities {
  .text-cdg-red {
    color: var(--color-cdg-red);
  }

  .bg-cdg-red {
    background-color: var(--color-cdg-red);
  }

  .border-cdg-red {
    border-color: var(--color-cdg-red);
  }
}